Repository drewstreib/xipe-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, go-test, go-mod-tidy

gofmt:
  name: gofmt
  entry: gofmt
  language: system
  args:
  - -w
  pass_filenames: true

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w
  pass_filenames: true

go-test:
  name: go test
  entry: go
  language: system
  args:
  - test
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

Improve CLI example spacing for readability
  templates/index.html
Due: none

Simplify CLI example comments
  templates/index.html
Due: none

Update CLI example URLs to be more realistic
  templates/index.html
Due: none

Fix data page scrolling issue
  templates/data.html
Due: none

Simplify CLI example text formatting
  templates/index.html
Due: none

Convert all API responses to plain text format
  CLAUDE.md
  README.md
  handlers/api.go
  static/swagger.json
  utils/response.go
Due: gofmt, goimports, go-test

Use unambiguous character set for code generation
  utils/codegen.go
Due: gofmt, goimports, go-test

Update swagger.json to reflect plain text POST responses
  static/swagger.json
Due: none

Add /challenge-check endpoint for Cloudflare managed challenge verification
  handlers/challenge.go
  handlers/challenge_test.go
  main.go
Due: gofmt, goimports, go-test

Add /cloudflare-test endpoint with interactive challenge verification
  handlers/challenge.go
  handlers/challenge_test.go
  main.go
  templates/cloudflare-test.html
Due: gofmt, goimports, go-test

Implement cross-tab communication for Cloudflare challenge completion
  handlers/challenge.go
  handlers/challenge_test.go
  templates/cloudflare-test.html
Due: gofmt, goimports, go-test

Fix challenge status check to use HTTP 200 instead of text content
  templates/cloudflare-test.html
Due: none

Fix cross-tab communication for challenge completion
  handlers/challenge.go
  templates/cloudflare-test.html
Due: gofmt, goimports, go-test

Replace postMessage with sessionStorage polling for reliable cross-tab communication
  handlers/challenge.go
  handlers/challenge_test.go
  templates/cloudflare-test.html
Due: gofmt, goimports, go-test

Add debugging logs and prevent auto-close for sessionStorage troubleshooting
  handlers/challenge.go
  handlers/challenge_test.go
Due: gofmt, goimports, go-test

Switch from sessionStorage to localStorage for cross-tab communication
  handlers/challenge.go
  handlers/challenge_test.go
  templates/cloudflare-test.html
Due: gofmt, goimports, go-test

Restore auto-close functionality after localStorage cross-tab communication fix
  handlers/challenge.go
  handlers/challenge_test.go
Due: gofmt, goimports, go-test

Reduce button sizes across UI for more compact design
  CLAUDE.md
  templates/data.html
  templates/index.html
Due: none

Add delete confirmation flow and View Raw button
  handlers/api.go
  templates/data.html
  templates/error.html
  utils/response.go
Due: gofmt, goimports, go-test

Darken View Raw button color for better contrast
  templates/data.html
Due: none

Fix delete redirect to preserve ?from=delete parameter
  templates/data.html
Due: none

Update View Raw button hover color to match new base color
  templates/data.html
Due: none

Reformat privacy.txt for consistent 88-character line width
  utils/pages/privacy.txt
Due: none

Add cross-platform curl note to homepage
  templates/index.html
Due: none

Add robots.txt static endpoint
  main.go
  static/robots.txt
Due: gofmt, goimports, go-test

Add newline at end of robots.txt
  static/robots.txt
Due: none

Add gin-contrib/sessions for signed cookie session management
  config/config.go
  go.mod
  go.sum
  handlers/api.go
  handlers/api_test.go
  main.go
Due: gofmt, goimports, go-test, go-mod-tidy

Add debug middleware to log session contents
  main.go
Due: gofmt, goimports, go-test

Add server-side session expiration validation with configurable max age
  CLAUDE.md
  config/config.go
  main.go
Due: gofmt, goimports, go-test

Document session expiration security implementation
  docs/SESSION_EXPIRATION.md
  handlers/session_test.go
  main.go
Due: gofmt, goimports, go-test

Refactor delete button visibility to server-side calculation
  handlers/data.go
  templates/data.html
Due: gofmt, goimports, go-test

Add userid and provider to session framework
  handlers/api.go
Due: gofmt, goimports, go-test

Update privacy policy with cookie session details
  utils/pages/privacy.txt
Due: none

Fix CodeQL integer conversion warnings
  config/config.go
Due: gofmt, goimports, go-test

Fix unnecessary conversion lint error
  config/config.go
Due: gofmt, goimports, go-test

Fix line number vertical alignment in data display
  templates/data.html
Due: none

Improve line number styling in data display
  templates/data.html
Due: none

Improve mobile responsiveness of status bar
  templates/data.html
Due: none

Path conditions:
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
