Repository drewstreib/xipe-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, go-test, go-mod-tidy

gofmt:
  name: gofmt
  entry: gofmt
  language: system
  args:
  - -w
  pass_filenames: true

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w
  pass_filenames: true

go-test:
  name: go test
  entry: go
  language: system
  args:
  - test
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

Implement browser cache headers for improved performance
  handlers/cache_test.go
  handlers/data.go
  handlers/root.go
Due: gofmt, goimports, go-test

Constrain Ctrl+A/Cmd+A selection to text content only
  templates/data.html
Due: none

Fix select-all constraint to properly intercept Ctrl+A/Cmd+A
  templates/data.html
Due: none

Implement ?raw and ?html query parameters for content format control
  handlers/api.go
  handlers/api_test.go
  templates/data.html
  templates/index.html
  utils/response.go
Due: gofmt, goimports, go-test

Fix cache headers for raw text responses (?raw parameter)
  handlers/data.go
Due: gofmt, goimports, go-test

Simplify web form by removing client-side JavaScript truncation
  templates/index.html
Due: none

Add 1-day cache headers for static files
  main.go
Due: gofmt, goimports, go-test

Add ?raw link to pastebin display interface
  templates/data.html
Due: none

Fix ?raw link formatting to match URL display style
  templates/data.html
Due: none

Add MIT license
  LICENSE
Due: none

Update footer links across all templates
  templates/data.html
  templates/error.html
  templates/index.html
Due: none

Fix security vulnerabilities in golang.org/x/crypto and golang.org/x/net
  db/s3.go
  go.mod
  go.sum
  handlers/data.go
Due: gofmt, goimports, go-test, go-mod-tidy

Fix dependency structure: make klauspost/compress a direct dependency
  go.mod
  go.sum
Due: go-mod-tidy

Fix GitHub Actions workflow security: add explicit permissions to test job
  .github/workflows/build.yml
Due: none

Fix mobile text size issue: ensure code elements respect mobile font size
  templates/data.html
Due: none

Add smaller mobile breakpoint: 10px font for screens ≤800px
  templates/data.html
Due: none

Remove responsive font sizing: revert to base 14px for all screen sizes
  templates/data.html
Due: none

Add simple mobile responsive sizing: 12px font for screens ≤800px
  templates/data.html
Due: none

Prevent mobile browser text scaling with webkit-text-size-adjust
  templates/data.html
Due: none

Add cross-browser text scaling prevention for Android and other mobile browsers
  templates/data.html
Due: none

Update README.md to reflect current architecture and features
  README.md
Due: none

Add PUT endpoint documentation to README
  README.md
Due: none

Update code generation description in README
  README.md
Due: none

Add URL synchronization for syntax highlighting toggle
  templates/data.html
Due: none

Fix ?noh parameter to appear without equals sign
  templates/data.html
Due: none

Consolidate POST and PUT endpoints into unified POST handler
  CLAUDE.md
  handlers/api.go
  handlers/api_test.go
  handlers/api_test.go.backup
  handlers/api_test.go.old
  main.go
  templates/index.html
Due: gofmt, goimports, go-test

Update Swagger API spec to reflect POST/PUT consolidation
  static/swagger.json
Due: none

Improve API example in index.html with clearer curl usage
  templates/index.html
Due: none

Update curl examples to use --data-binary for proper content preservation
  templates/index.html
Due: none

Adjust comment color in API example for better contrast
  templates/index.html
Due: none

Improve API example with clearer output expectations
  templates/index.html
Due: none

Update section header to better describe CLI usage
  templates/index.html
Due: none

Fix code block formatting to include final comment
  templates/index.html
Due: none

Add line break before closing code block tags
  templates/index.html
Due: none

Revert to inline closing tags for code block
  templates/index.html
Due: none

Simplify TTL handling and extend to 7 days
  handlers/api.go
  templates/index.html
  test_api.sh
  utils/codegen.go
  utils/codegen_test.go
Due: gofmt, goimports, go-test

Improve CLI usage examples in homepage
  templates/index.html
Due: none

Improve CLI example readability
  templates/index.html
Due: none

Clean up CLI example formatting
  templates/index.html
Due: none

Update documentation to reflect 7-day TTL
  CLAUDE.md
  README.md
  static/swagger.json
Due: none

Path conditions:
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
