Repository drewstreib/xipe-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, go-test, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit hooks for xipe-go
# Install with: pre-commit install

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$
        pass_filenames: true
        
      - id: goimports
        name: goimports
        entry: goimports
        language: system
        args: [-w]
        files: \.go$
        pass_filenames: true
        
      - id: go-test
        name: go test
        entry: go
        language: system
        args: [test, ./...]
        files: \.go$
        pass_filenames: false
        
      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        pass_filenames: false

Add interactive forms and URL info endpoint
  handlers/redirect.go
  templates/index.html
  templates/info.html
Due: gofmt, goimports, go-test

Add format parameter override for response type
  templates/index.html
  utils/response.go
Due: gofmt, goimports, go-test

Update test form to accept both short codes and full URLs
  templates/index.html
Due: none

Migrate to AWS SDK v2 and add footer to templates
  db/dynamodb.go
  go.mod
  go.sum
  handlers/api.go
  templates/error.html
  templates/index.html
  templates/info.html
  templates/success.html
Due: gofmt, goimports, go-test, go-mod-tidy

Add comprehensive debugging logging for DynamoDB operations
  db/dynamodb.go
  handlers/api.go
Due: gofmt, goimports, go-test

Add AWS credential source logging for debugging
  db/dynamodb.go
Due: gofmt, goimports, go-test

Fix gofmt formatting issue
  db/dynamodb.go
Due: gofmt, goimports, go-test

Fix DynamoDB struct tags for AWS SDK v2 marshaling
  db/dynamodb.go
Due: gofmt, goimports, go-test

Fix Go module path to follow proper conventions
  go.mod
  handlers/api.go
  handlers/api_test.go
  handlers/redirect.go
  handlers/redirect_test.go
  main.go
Due: gofmt, goimports, go-test, go-mod-tidy

Fix formatting and add automatic pre-commit hooks
  Makefile
  handlers/api.go
  handlers/api_test.go
  handlers/redirect.go
  handlers/redirect_test.go
  install-hooks.sh
  main.go
Due: gofmt, goimports, go-test

Remove global DB variable and implement proper dependency injection
  db/dynamodb.go
  handlers/api.go
  handlers/api_test.go
  handlers/redirect.go
  handlers/redirect_test.go
  handlers/root.go
  handlers/root_test.go
  main.go
Due: gofmt, goimports, go-test

Remove 'GET' from API usage example in index.html
  templates/index.html
Due: none

Remove 'Coming Soon' section from index.html
  templates/index.html
Due: none

Remove non-functional statistics endpoint from index.html
  templates/index.html
Due: none

Add LRU cache with TTL support for DynamoDB redirects
  CLAUDE.md
  db/dynamodb.go
  go.mod
  go.sum
Due: gofmt, goimports, go-test, go-mod-tidy

Update /stats endpoint to show cache metrics instead of hardcoded values
  db/dynamodb.go
  db/mock.go
  handlers/root.go
  handlers/root_test.go
Due: gofmt, goimports, go-test

Move /stats endpoint to /api/stats to prevent collision with redirect codes
  handlers/root_test.go
  main.go
Due: gofmt, goimports, go-test

Add URL protocol validation to urlpost endpoint
  handlers/api.go
  handlers/api_test.go
Due: gofmt, goimports, go-test

Implement Post-Redirect-Get pattern to prevent duplicate URL creation
  handlers/api.go
  handlers/api_test.go
  handlers/redirect.go
  templates/info.html
  templates/success.html
Due: gofmt, goimports, go-test

Add URL content filtering using Cloudflare DNS over HTTPS family filter
  handlers/api.go
  utils/url_check.go
  utils/url_check_test.go
Due: gofmt, goimports, go-test

Update CLAUDE.md with URL content filtering documentation
  CLAUDE.md
Due: none

Fix security vulnerability in URL checking: properly escape hostname parameter
  CLAUDE.md
  handlers/api.go
  handlers/api_test.go
  main.go
  templates/index.html
  utils/url_check.go
  utils/url_check_test.go
Due: gofmt, goimports, go-test

Consolidate URL Shortener and API Usage sections in landing page
  templates/index.html
Due: none

Remove automatic redirects for security - show info page by default
  handlers/api.go
  handlers/redirect.go
  handlers/redirect_test.go
  templates/index.html
Due: gofmt, goimports, go-test

Improve info page UX: make redirect URL clickable and remove test form
  templates/index.html
  templates/info.html
Due: none

Add creation timestamp and IP tracking to shortened URLs
  CLAUDE.md
  db/dynamodb.go
  handlers/api.go
  handlers/redirect.go
  handlers/redirect_test.go
  templates/info.html
Due: gofmt, goimports, go-test

Change one-month TTL parameter from '1m' to '1mo' for clarity
  CLAUDE.md
  handlers/api.go
  handlers/api_test.go
  templates/index.html
  utils/codegen.go
  utils/codegen_test.go
Due: gofmt, goimports, go-test

Add comprehensive README.md for project documentation
  README.md
Due: none

Add URL length validation (4KB max) for security
  CLAUDE.md
  README.md
  handlers/api.go
  handlers/api_test.go
Due: gofmt, goimports, go-test

Fix GitHub Actions SBOM generation image path
  .github/workflows/build.yml
Due: none

Update homepage branding and terminology
  templates/index.html
Due: none

Update homepage title to "code share / URL shortener"
  templates/index.html
Due: none
