Repository drewstreib/xipe-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, go-test, go-mod-tidy

gofmt:
  name: gofmt
  entry: gofmt
  language: system
  args:
  - -w
  pass_filenames: true

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w
  pass_filenames: true

go-test:
  name: go test
  entry: go
  language: system
  args:
  - test
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

Reorganize API documentation by consolidating Python example
  templates/index.html
Due: none

Add missing line break after Limits in POST endpoint
  templates/index.html
Due: none

Update page title to focus on pastebin service
  handlers/root.go
Due: gofmt, goimports, go-test

Update page titles to "xi.pe pastebin service"
  templates/data.html
  templates/url.html
Due: none

Convert hardcoded xi.pe URLs to relative links
  templates/data.html
  templates/error.html
  templates/index.html
  templates/url.html
Due: none

Update privacy page title to match footer link text
  utils/pages/privacy.txt
Due: none

Enhance privacy policy with operator details and user rights
  utils/pages/privacy.txt
Due: none

Fix syntax highlighting toggle functionality for static pages
  templates/data.html
Due: none

Enhance privacy policy with cookie usage details and formatting
  utils/pages/privacy.txt
Due: none

Consolidate copyright and user rights into single section
  utils/pages/privacy.txt
Due: none

Add CORS header for Swagger UI access
  main.go
Due: gofmt, goimports, go-test

Streamline homepage API section and add docs link
  templates/index.html
Due: none

Remove excess whitespace from API code examples
  templates/index.html
Due: none

Add shebang lines to API code examples
  templates/index.html
Due: none

Streamline swagger.json to focus on data storage API
  static/swagger.json
Due: none

Fix swagger.json API documentation to match actual implementation
  static/swagger.json
Due: none

Add manual syntax highlighting to homepage API code examples
  templates/index.html
Due: none

Add blank lines after shebang in API code examples
  templates/index.html
Due: none

Remove vertical padding from API code examples
  templates/index.html
Due: none

Reorder API code examples to show bash first
  templates/index.html
Due: none

Update TTL option descriptions to show example URL formats
  templates/index.html
Due: none

Clarify textarea placeholder text for better readability
  templates/index.html
Due: none

Remove URL shortening functionality, convert to pastebin-only service
  CLAUDE.md
  README.md
  handlers/api.go
  handlers/api_test.go
  handlers/data.go
  handlers/data_test.go
  static/swagger.json
  templates/index.html
  templates/url.html
  utils/url_check.go
  utils/url_check_test.go
Due: gofmt, goimports, go-test

Convert success message to sliding toast notification
  templates/data.html
Due: none

Improve toast notification timing and slide-out behavior
  templates/data.html
Due: none

Add zstd level 3 compression for S3 object storage
  CLAUDE.md
  README.md
  db/s3.go
  go.mod
  go.sum
Due: gofmt, goimports, go-test, go-mod-tidy

Use .zst extension for S3 object keys to identify compression format
  CLAUDE.md
  handlers/api.go
  handlers/api_test.go
  handlers/data.go
Due: gofmt, goimports, go-test

Add HTTP status codes to error template for better user feedback
  handlers/api.go
  templates/error.html
  utils/response.go
Due: gofmt, goimports, go-test

Simplify service to only support 24-hour TTL
  handlers/api.go
  handlers/api_test.go
  static/swagger.json
  templates/index.html
Due: gofmt, goimports, go-test

Redesign data.html template with streamlined status bar layout
  templates/data.html
Due: none

Replace right-click copy with Copy Text button and improve error page
  templates/data.html
  templates/error.html
Due: none

Fix horizontal overflow in data.html template
  templates/data.html
Due: none

Add mobile responsive font sizing for data content
  templates/data.html
Due: none

Implement tiered retry logic for code generation
  CLAUDE.md
  handlers/api.go
  handlers/api_test.go
  handlers/data.go
  handlers/data_test.go
  static/swagger.json
Due: gofmt, goimports, go-test

Path conditions:
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
